.map-interaction-control {
  position: absolute;

  bottom: 0;
}

.interaction-control {
  padding: 0.9rem 1.3rem;

  border-radius: 20px 20px 0 0;

  background-color: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 1rem;

  user-select: none;
}

.interaction-control > h1 {
  font-size: 1.2rem;
}

/* CLIENT ROUTE */

.route-info-container {
  display: flex;
  align-items: center;

  justify-content: space-between;

  width: 30rem;
  height: 3rem;

  gap: 2rem;
}

.route-info-container .arrow {
  font-size: 1.5rem;
  cursor: url(../../assets/link.cur), auto;

  transition: all 100ms;
}

.route-info-container .arrow:hover {
  transform: translateY(-2px);
  filter: brightness(1) drop-shadow(0 2px 1px gray);
}

.route-info-container .arrow:active {
  transform: translateY(1px);
  filter: brightness(0.8) drop-shadow(0 0 0 gray);
  color: rgb(9, 139, 226);
}

.route-info-container .arrow.disabled {
  transform: none;
  filter: none;
  cursor: unset;
  color: rgb(190, 190, 190);
}

.route-distances {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.route-distances .sections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  color: rgb(160, 160, 160);

  font-size: 0.95rem;
}

.route-distances .sections .car-to-client {
  color: var(--section1);

  filter: brightness(0.8);
}

.route-distances .sections .client-to-destination {
  color: var(--section2);

  filter: brightness(0.8);
}

.route-distances .sections span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.route-distances .sections span b {
  margin-left: 0.2rem;

  font-size: 1.1em;
  /* filter: brightness(0.8); */
}

.route-distances .sections .car-icon {
  font-size: 1.2em;
}

.route-distances .total {
  font-size: 1.3em;
  font-weight: 600;
}

/* STREET CREATOR */

.interaction-control .speed-input-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.interaction-control .speed-input-container .speed-input {
  border-radius: 20px;

  background-color: rgb(209, 209, 209);
  width: 3rem;

  padding: 0.3rem 0.5rem;

  text-align: end;
}

.interaction-control .speed-input-container .speed-input[disabled] {
  color: rgb(148, 148, 148);

  user-select: none;
}

.toggle-random {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  user-select: none;

  margin-right: 0.5rem;

  cursor: url(../../assets/link.cur), auto;

  --color: rgb(126, 126, 126);
  color: var(--color);
}

.toggle-random:hover {
  filter: brightness(0.96);
}

.toggle-random .toggler {
  width: 1rem;
  height: 1rem;

  border-radius: 50%;

  background-color: var(--color);

  border: 5px solid white;
  box-shadow: 0 0 5px 1px rgba(149, 149, 149, 0.2);

  transition: all 100ms;
}

.off {
  color: rgb(179, 179, 179);
  --color: rgb(179, 179, 179);
}

.off .toggler {
  background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
