.simulation-toggle-container {
  position: fixed;
  top: 2rem;
  right: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.simulation-toggle-container .toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.simulation-toggle-container span {
  font-family: 'Share Tech Mono', monospace;
}

.toggle-simulation.custom-button {
  --button-size: 5rem;

  font-size: 2.5rem;
}

.toggle-simulation.custom-button svg {
  min-width: unset;
}
