.configuration-parameters-tab {
  width: 100%;
  max-height: 50vh;
  flex-direction: column;
  gap: inherit;

  overflow-y: auto;
}

.configuration-parameters-tab .configuration {
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}

.configuration-parameters-tab .configuration .slider {
  width: 100%;
  max-width: 15rem;
  font-size: 1.2rem;
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 100%;

  max-width: 15rem;

  cursor: url(../../../assets/link.cur), auto;
}

.color-icon {
  font-size: 1.1rem;
}

.color-preview {
  flex: 1;
  height: 1.1rem;
  /* width: 5rem; */
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.15);
}

.hidden-input {
  max-height: 0;
  pointer-events: none;
  transform: translateY(-20px);
  opacity: 0;
  
  margin-bottom: -10%;
}
