/* Define os cursores */
body {
  cursor: url(../assets/arrow.cur), auto;
}

body.move {
  cursor: url(../assets/move.cur), auto;
}

body.pencil {
  cursor: url(../assets/pen.cur), auto;
}

body.pointer {
  cursor: url(../assets/link.cur), auto;
}
