.parameters {
  width: 100%;
  max-height: 50vh;
  flex-direction: column;
  gap: inherit;
  
  overflow-y: auto;
}

.map-parameter {
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;

}

.map-parameter .slider {
  width: 100%;
  max-width: 15rem;
  font-size: 1.2rem;
}