.simulation-view {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  position: fixed;
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.client.actions {
  bottom: 2rem;
  left: 2rem;
}

.map.actions {
  bottom: 2rem;
  right: 2rem;
}

.new-car-icons * {
  min-width: unset !important;
  min-height: unset !important;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  /* font-size: 1rem; */
}

.new-car-icons .car-icon {
  position: absolute;

  font-size: 1.5rem;
  right: 1rem;
  bottom: 20%;
}

.new-car-icons .plus-icon {
  position: relative;

  left: 0.7rem;
  bottom: 0.2rem;

  font-size: 0.7rem;
}
